

  <!-- value >0 -->
  <% if( superhero.length>0) {%>
  <form name="updateHero" action="/update" method="post" enctype="multipart/form-data">
    <input type="text" value="<%- superhero[0].id %> "  name="id"  hidden>  
    <div class="mb-3">
        <label for="superheroName"  class="form-label">SuperHero Name</label>
        <input type="text" value="<%- superhero[0].name %> "  class="form-control" name="name" id="superheroName" aria-describedby="superheroNameHelp">
        <div id="SuperHeroHelp" class="form-text">Iron man, SpiderMan etc.</div>
      </div>
  
      
      <!-- Power Stat -->
      <div class="mb-3">
          <label for="superheroPower" class="form-label">SuperHero Power</label>
          <input type="text" value="<%- superhero[0].powerstat %> "  name="powerstat" class="form-control" id="superheroPower" aria-describedby="superheroPowerHelp">
          <div id="superheroPowerHelp" class="form-text">FLying, Shooting webs etc.</div>
        </div>
  
        <!-- Description -->
        <div class="mb-3">
          <label for="superheroDescription" class="form-label">SuperHero Description</label>
          <input type="text" value="<%- superhero[0].description %> "  name="description" class="form-control" id="superheroDescription" aria-describedby="superheroDescriptionHelp">
          <div id="superheroDescriptionHelp" class="form-text">Give us more detail about super heros.</div>
        </div>
  
        <!-- image -->
        <div class="mb-3">
          <label class="form-label" for="image">Upload SuperHero Image</label>
          <input type="file" class="form-control" name="image" id="image" />
        
        </div>
      
      <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <% } else {%>
      <form name="addHero" action="/create" method="post" enctype="multipart/form-data">
        <input type="text"  name="id"  hidden>  
        <div class="mb-3">
            <label for="superheroName"  class="form-label">SuperHero Name</label>
            <input type="text" class="form-control" name="name" id="superheroName" aria-describedby="superheroNameHelp">
            <div id="SuperHeroHelp" class="form-text">Iron man, SpiderMan etc.</div>
          </div>
      
          
          <!-- Power Stat -->
          <div class="mb-3">
              <label for="superheroPower" class="form-label">SuperHero Power</label>
              <input type="text" name="powerstat" class="form-control" id="superheroPower" aria-describedby="superheroPowerHelp">
              <div id="superheroPowerHelp" class="form-text">FLying, Shooting webs etc.</div>
            </div>
      
            <!-- Description -->
            <div class="mb-3">
              <label for="superheroDescription" class="form-label">SuperHero Description</label>
              <input type="text" name="description" class="form-control" id="superheroDescription" aria-describedby="superheroDescriptionHelp">
              <div id="superheroDescriptionHelp" class="form-text">Give us more detail about super heros.</div>
            </div>
      
            <!-- image -->
            <div class="mb-3">
              <label class="form-label" for="image">Upload SuperHero Image</label>
              <input type="file" class="form-control" name="image" id="image" />
            
            </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>      

      <% } %>